<!--MODAL-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Perfil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <table>
          <table class="table table-striped">
            <thead>
                <tr>
                    <th>Club Name</th>
                    <th>Coach</th>
                    <th>Stadium</th>
                    
                </tr>
            </thead>
            <tbody>
                <!--O ng* for serve para ir buscar a lista do componente acaba por ser como o foreach no asp net-->
            <tr>
                <td *ngFor="let club of ClubName">{{club.name}}</td>
                <td *ngFor="let coach of CoachList">{{coach.name}}</td>
                <td *ngFor="let stadium of StadiumList">{{stadium.name}}</td>
                
                <td>
                    
                </td>
            </tr>
            </tbody>
        </table>
        
        </table>

      </div>
      
    </div>
  </div>
</div>
  
  
  <button class="btn btn-success" (click)="openS()" >Standings</button>
  <button class="btn btn-success" (click)="openJ()" >Jogos</button>
  
  <div *ngIf="standings">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Standings</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let club of ClubList">
        <td><a routerLink="clubs" (click)="showInfoTeam(club.name)"  data-bs-toggle="modal" data-bs-target="#exampleModal">{{club.name}}</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="games">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Lul</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let club of ClubList">
        <td>LOOOL</td>
      </tr>
    </tbody>
  </table>
</div>

