.img_style{
    
    width: 5%;
}
.menu_padding{
    padding-left: 5%;
}



.nav_style{
    background-color: forestgreen !important;
    
}
.nav_text{
    color: white !important;
}

.fit_content{
    min-height: 100vh;
    max-height: max-content;
}

.adjust_top{
padding-top: 5%;
}